// ========================================아이패드========================================
@media (min-width: 480px) and (max-width: 768px) {
    .heart-icon2 {
        bottom: 90px;
        right: 5px;
    }
    .title2{
        font-size: 22px;
    }
    .delivery-text {
        font-size: 22px;
    }
    .question-title {
        font-size: 22px;
    }
    .shopping-text {
        font-size: 22px;
    }
    .join{
        font-size: 22px;
    }
    .service{
        font-size: 22px;
    }
    .see1{
        font-size: 22px;
    }
    .use{
        font-size: 18px;
    }
    .category{
        font-size: 18px;
    }
    .period{
        font-size: 18px;
    }
    .title{
        font-size: 35px;
    }
    .loading-text {
    font-size: 14px;
    }
}
  // ========================================모바일========================================

@media (max-width:480px){
    .title2{
        font-size: 22px;
    }
    .delivery-text {
        font-size: 22px;
    }
    .list-img{
        height: 190px;
    }
    .shopping-text {
        font-size: 22px;
    }
    .question-title {
        font-size: 22px;
    }
    .join{
        font-size: 22px;
    }
    .service{
        font-size: 22px;
    }
    .see1{
        font-size: 22px;
    }
    .use{
        font-size: 18px;
    }
    .category{
        font-size: 18px;
    }
    .period{
        font-size: 18px;
    }
    .title{
        font-size: 35px;
    }
    .loading-text {
    font-size: 14px;
    }
}