.shopping-container {
  margin-top: 30px;
}
.shopping-text {
  text-align: center;
  font-size: 25px;
  font-family: "NanumSquareRoundB";
  margin-bottom: 45px;
  margin-top: 30px;
}
.no-item {
  text-align: center;
  font-size: 16px;
  margin-top: 40px;
}

@import "../scss/res-marketon";